@{
    ViewData["Title"] = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ForumAiTiContext _context = new ForumAiTiContext();
    string getAvatar(byte[] avataar)
    {
        if (avataar == null) return "/images/noneavatar.jpg";
        string imageBase64Data = Convert.ToBase64String(avataar);
        string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
        return imageDataURL;
    }
    List<string> getListNN()
        {
            List<string> list = new List<string>();
                list.Add("Sinh viên");
                list.Add("Kỹ sư ai ti");
                list.Add("Giảng viên");
                list.Add("Giáo viên");
                list.Add("Người đi làm");
                list.Add("Freelancer");
                list.Add("Khác");
                return list;
        }

    List<ChiTietMxh> getListMXHByTK()
        {
            return _context.ChiTietMxh.Where(x => x.TaiKhoan == User.FindFirst("TaiKhoan").Value.Trim()).ToList();
        } 
    
}
@model ForumAiTi.Models.NguoiDung
<!-- Close Header -->
<section class="container-fluid my-2 px-5 bg-submenu p-2">
    <div class="container-fluid bg-forum2">
        <h3 class="text-forum-orange mb-0 p-2">
            <oke class="bg-text-forum p-1">Forum</oke>
            <oke class="text-forum-submenu">AiTi</oke> / Cá nhân
        </h3>
    </div>
</section>
<!-- Start Categories of The Month -->
<section class="mx-5 my-2 ">
    <div class="row">
        <div class="col-12 col-md-5 col-lg-5 p-0">
            <div class="container-fluid">
                @if (Model.HoTen.Equals(null))
                {
                    <h2 class="py-4 bg-forum text-light text-center new-question">Không xác định</h2>

                }
                else
                {
                    <h2 class="py-4 bg-forum text-light text-center new-question" id="fullname">@Model.HoTen</h2>
                }
                <div class="row user-infor">
                    <div class="user-img col-12">
                        <img id="img-content" src="@getAvatar(Model.HinhAnh)" alt="">
                    </div>
                    @if (Model.SinhNhat.Equals(null))
                        {
                            <h4 class="birthday" id="birthday">?? / ?? /????</h4>
                        }
                        else
                        {
                            <h4 class="birthday" id="birthday">@String.Format("{0:dd/MM/yyyy}", Model.SinhNhat)</h4>
                        }
                    <div class="user-myself col-12">
                        <p class="infor"><i class="fa fa-info-circle"></i> Giới thiệu bản thân</p>
                        @if (Model.GtbanThan == null)
                        {
                            <p class="des" id="des-yourself">Bạn chưa cập nhật thông tin.</p>
                        }
                        else
                        {
                            <p class="des" id="des-yourself">@Model.GtbanThan</p>
                        }
                    </div>
                    <div class="user-personal col-12">
                        <div class="row">
                            <h4 class="user-left text-center m-auto col-6"><i class="fa fa-user-secret"
                                    aria-hidden="true"></i> Nickname</h4>
                                                                @if (Model.Nickname == null)
                            {
                                <h4 class="user-right text-center m-auto col-6" id="nickname">Không xác định</h4>
                            }
                            else
                            {
                                <h4 class="user-right text-center m-auto col-6" id="nickname">@Model.Nickname</h4>
                            }
                        </div>
                    </div>
                    <div class="user-personal col-12">
                        <div class="row">
                            <h4 class="user-left text-center m-auto col-6"><i class="fa fa-suitcase"
                                    aria-hidden="true"></i> Nghề nghiệp</h4>
                                    @if (Model.NgheNghiep == null)
                            {
                                <h4 class="user-right text-center m-auto col-6" id="job">Không xác định</h4>
                            }
                            else
                            {
                                <h4 class="user-right text-center m-auto col-6" id="job">@Model.NgheNghiep</h4>
                            }
                        </div>
                    </div>
                    @if(getListMXHByTK().Count() == 0)
                    {

                    }else{
                        <div class="user-card col-12 " id="div-facebook">
                        <div class="row">
                            <h4 class="user-left text-center m-auto col-6"><i class="fa fa-facebook-square"> </i>
                                Facebook</h4>
                            <a href="#" id="link-facebook" class="user-right text-center m-auto col-6">
                                <h4 id="text-facebook">Xuân Diệu</h4>
                            </a>
                        </div>
                    </div>
                    <div class="user-card col-12 " id="div-github">
                        <div class="row">
                            <h4 class="user-left text-center m-auto col-6"><i class="fa fa-github-square"></i>
                                Github</h4>
                            <a id="link-github" href="#" class="user-right text-center m-auto col-6">
                                <h4 id="text-github">Xuân Diệu</h4>
                            </a>
                        </div>
                    </div>
                    <div class="user-card col-12 " id="div-linked">
                        <div class="row">
                            <h4 class="user-left text-center m-auto col-6"><i class="fa fa-linkedin-square"></i>
                                Linkedin</h4>
                            <a id="link-linked" href="#" class="user-right text-center m-auto col-6">
                                <h4 id="text-linked">Xuân Diệu</h4>
                            </a>
                        </div>
                    </div>
                    <div class="user-card col-12 " id="div-stack">
                        <div class="row">
                            <h4 class="user-left text-center m-auto col-6"><i class="fa fa-stack-overflow"></i>
                                Stackoverflow</h4>
                            <a id="link-stack" href="#" class="user-right text-center m-auto col-6">
                                <h4 id="text-stack">Xuân Diệu</h4>
                            </a>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7 col-lg-7">
            <h2 class="py-4 bg-forum text-center"><i class="fa fa-pencil-square" aria-hidden="true"></i> Cập nhật
                thông tin cá nhân</h2>
            <div class="container-fluid bg-forum2">
                <form action="/update_infor" method="post" enctype="multipart/form-data">
                    <div class="row pt-2">
                        @* <input type="text" asp-for="VaiTro" hidden value="@Model.VaiTro" id="VaiTro">
                        <input type="text" asp-for="MaLoai" hidden value="@Model.MaLoai" id="MaLoai">
                        <input type="text" asp-for="HinhAnh" hidden value="@Model.HinhAnh" id="HinhAnh"> *@
                        <div class="col-12 col-lg-7 col-md-7">
                            <div class="row edit-infor">
                                <label for="fullname">Họ và tên</label>
                                <input type="text" asp-for="HoTen" value="@Model.HoTen" id="fullname">
                            </div>
                            <div class="row edit-infor">
                                <label for="fullname">Mật khẩu</label>
                                <div id="divPass">
                                    <input type="password" name="Matkhau" value="@Model.MatKhau" id="Matkhau">
                                    <i toggle="#Matkhau" class="fa fa-eye" id="hidepass"></i>
                                </div>
                            </div>
                            <div class="row edit-infor">
                                <label for="nickname">Nickname</label>
                                <input type="text" asp-for="Nickname" value="@Model.Nickname" id="nickname">
                            </div>
                            <div class="row edit-infor">
                                <label for="email">Email</label>
                                <input type="email" asp-for="Email" value="@Model.Email" id="email">
                            </div>
                            <div class="row edit-infor">
                                <label for="birthday">Sinh nhật</label>
                                @* <input type="date" asp-for="SinhNhat" value="@Model.SinhNhat" asp-format="{0:yyyy-MM-dd}" id="birthday"> *@
                                @Html.TextBoxFor(Model => Model.SinhNhat, "{0:yyyy-MM-dd}", new {type = "date",id = "birthday"})
                            </div>
                            <div class="row edit-des">
                                <label for="des-yourself">Giới thiệu bản thân</label>
                                <textarea asp-for="GtbanThan"
                                    id="des-yourself">@Model.GtbanThan</textarea>
                            </div>
                        </div>
                        <div class="col-12 col-md-5 col-lg-5 p-0" id="div-img2">
                            <img src="@getAvatar(Model.HinhAnh)" id="img-content" alt="">
                            <button type="button" id="btn-img"><input type="file" name="files" id="changeimg"> <label
                                    for="changeimg">Thay đổi hình ảnh đại diện</label></button>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-12 col-lg-6 col-md-6 edit-infor">
                            <label for="listjob">Nghề nghiệp</label>
                            <select name="listjob" id="listjob">
                                @foreach (var item in getListNN())
                                {
                                    @if(item == Model.NgheNghiep)
                                    {
                                <option selected style="background-color: #264653;color: #fff;" value="@item">@item</option>   
                                    }else{
                                <option value="@item">@item</option>   
                                    }
                                }
                            </select>
                        </div>
                        @if(getListMXHByTK().Count() != 0)
                        {
                            @foreach (var item in getListMXHByTK())
                            {
                                @if(item.MaMxh == 1)
                                {
                                <div class="edit-contact row col-12">
                                    <label for="" class="mb-1"><i class="fa fa-facebook-square"> </i> Facebook</label>
                                    <div class="col-12 col-lg-4 col-md-4 mb-2">
                                        <input type="checkbox" name="" id="text-facebook">
                                    </div>
                                    <div class="col-12 col-lg-8 col-md-8 mb-2">
                                        <input type="text" value="@item.Link" placeholder="Link đính kèm thông Facebook của bạn" name="ChiTietMxh.Link"
                                            id="link-facebook">
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-4 mb-2">
                                        <label for="">Họ tên Facebook của bạn</label>
                                    </div>
                                    <div class="col-12 col-lg-8 col-md-8 mb-2">
                                        <input type="text" placeholder="Họ và tên của bạn trên Facebook là gì?" value="@item.HoTenMxh" name=""
                                            id="text-facebook">
                                    </div>
                                </div>
                                }
                                @if(item.MaMxh == 2)
                                {
                                <div class="edit-contact row col-12">
                                    <label for="" class="mb-1"><i class="fa fa-linkedin-square"> </i> Linkedin</label>
                                    <div class="col-12 col-lg-4 col-md-4 mb-2">
                                        <input type="checkbox" name="" id="text-linked">
                                    </div>
                                    <div class="col-12 col-lg-8 col-md-8 mb-2">
                                        <input type="text" placeholder="Link đính kèm thông Linkedin của bạn" value="@item.Link" name=""
                                            id="link-linked">
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-4 mb-2">
                                        <label for="">Họ tên Linkedin của bạn</label>
                                    </div>
                                    <div class="col-12 col-lg-8 col-md-8 mb-2">
                                        <input type="text" placeholder="Họ và tên của bạn trên Linkedin là gì?" value="@item.HoTenMxh" name=""
                                            id="text-linked">
                                    </div>
                                </div>
                                }
                                @if(item.MaMxh == 3)
                                {
                                <div class="edit-contact row col-12">
                                    <label for="" class="mb-1"><i class="fa fa-stack-overflow"> </i> Stackoverflow</label>
                                    <div class="col-12 col-lg-4 col-md-4 mb-2">
                                        <input type="checkbox" name="" id="text-stack">
                                    </div>
                                    <div class="col-12 col-lg-8 col-md-8 mb-2">
                                        <input type="text" placeholder="Link đính kèm thông Stackoverflow của bạn" value="@item.Link" name=""
                                            id="link-stack">
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-4 mb-2">
                                        <label for="">Họ tên Stackoverflow của bạn</label>
                                    </div>
                                    <div class="col-12 col-lg-8 col-md-8 mb-2">
                                        <input type="text" placeholder="Họ và tên của bạn trên Stackoverflow là gì?" value="@item.HoTenMxh" name=""
                                            id="text-stack">
                                    </div>
                                </div>
                                }
                                @if(item.MaMxh == 4)
                                {
                                <div class="edit-contact row col-12">
                                    <label for="" class="mb-1"><i class="fa fa-github-square"> </i> Github</label>
                                    <div class="col-12 col-lg-4 col-md-4 mb-2">
                                        <input type="checkbox" name="" id="text-github">
                                    </div>
                                    <div class="col-12 col-lg-8 col-md-8 mb-2">
                                        <input type="text" placeholder="Link đính kèm thông Github của bạn" value="@item.Link" name=""
                                            id="link-github">
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-4 mb-2">
                                        <label for="">Họ tên Github của bạn</label>
                                    </div>
                                    <div class="col-12 col-lg-8 col-md-8 mb-2">
                                        <input type="text" placeholder="Họ và tên của bạn trên Github là gì?" value="@item.HoTenMxh" name=""
                                            id="text-github">
                                    </div>
                                </div>
                                }
                            }
                        }
                        
                    </div>
                    <button class="btn btn-success m-2">Cập nhật</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->
<script>
    $(function () {
        // Multiple images preview in browser
        var imagesPreview = function (input, placeToInsertImagePreview, id) {

            if (input.files) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    if ($('div.garelly' + id + ' img#imagges' + id + '').length > 0) {
                        // $('div.garelly' + id + ' img#imagges' + id + '').attr('src', event.target.result);
                        $('img#imagges' + id + '').attr('src', event.target.result);
                    }
                    else {
                        $($.parseHTML('<img id="imagges' + id + '">')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                        $('div.garelly' + id + ' img#imagges' + id + '')
                            .after('<i class="fa fa-times" aria-hidden="true" id="imagges' + id + '"></i>');
                    }
                }
                reader.readAsDataURL(input.files[0]);
            }
        };
        $(document).on('change', 'input[id*="upimg"]', function () {
            var id = $(this).attr('id');
            id = id.substring(5, id.length);
            imagesPreview(this, 'div.garelly' + id, id);
        });
        // remove image
        $(document).on('click', 'i[id*="imagges"]', function () {
            var id = $(this).attr('id');
            id = id.substring(7, id.length);
            $('div.garelly' + id + ' img#imagges' + id + '').remove();
            $('input#upimg' + id + '').val("");
        });
    });
    $('input#fullname').on('input', function () {
        var val = $(this).val();
        $('h2#fullname').text(val);
    });
    $('input#nickname').on('input', function () {
        var val = $(this).val();
        $('h4#nickname').text(val);
    });
    $('input#birthday').on('change', function () {
        var date = $(this).val();
        var str = date.substring(8, 10) + ' / ' + date.substring(5, 7) + ' / ' + date.substring(0, 4);
        $('h4#birthday').text(str);
    });
    $('textarea#des-yourself').on('keyup', function () {
        var val = $(this).val();
        $('p#des-yourself').text(val);
    });
    $('select#listjob').on('change', function () {
        var text = $('select#listjob').find(":selected").text();
        $('h4#job').text(text);
    });
    // 
    $(document).ready(function () {
        // click see pass
        $("i#hidepass").click(function () {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        // var tag = $('input#Matkhau');
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
        // end
        $('input[type="checkbox"]').each(function () {
            if ($(this).is(':checked')) {
                var id = $(this).attr('id');
                var cutID = id.substring(5, id.length);
                $('div#div-' + cutID).show();
                $('input[type="text"]#text-' + cutID).attr('disabled', false);
                $('input[type="text"]#text-' + cutID).attr('required', true);
                $('input#link-' + cutID).attr('disabled', false);
                $('input#link-' + cutID).attr('required', true);

            } else {
                var id = $(this).attr('id');
                var cutID = id.substring(5, id.length);
                $('div#div-' + cutID).css('display', 'none');
                $('input[type="text"]#text-' + cutID).attr('disabled', true);
                $('input[type="text"]#text-' + cutID).removeAttr('required');
                $('input#link-' + cutID).attr('disabled', true);
                $('input#link-' + cutID).removeAttr('required');
            }
        });
    });
    $('input[type="checkbox"]').on('change', function () {
        if ($(this).is(':checked')) {
            var id = $(this).attr('id');
            var cutID = id.substring(5, id.length);
            $('div#div-' + cutID).show();
            $('input[type="text"]#text-' + cutID).attr('disabled', false);
            $('input[type="text"]#text-' + cutID).attr('required', true);
            $('input#link-' + cutID).attr('disabled', false);
            $('input#link-' + cutID).attr('required', true);

        } else {
            var id = $(this).attr('id');
            var cutID = id.substring(5, id.length);
            $('div#div-' + cutID).css('display', 'none');
            $('input[type="text"]#text-' + cutID).attr('disabled', true);
            $('input[type="text"]#text-' + cutID).removeAttr('required');
            $('input#link-' + cutID).attr('disabled', true);
            $('input#link-' + cutID).removeAttr('required');
        }
    });
    $(document).on('input', 'input#text-github', function () {
        var val = $(this).val();
        $('h4#text-github').text(val);
    });
    $(document).on('input', 'input#text-linked', function () {
        var val = $(this).val();
        $('h4#text-linked').text(val);
    });
    $(document).on('input', 'input#text-facebook', function () {
        var val = $(this).val();
        $('h4#text-facebook').text(val);
    });
    $(document).on('input', 'input#text-stack', function () {
        var val = $(this).val();
        $('h4#text-stack').text(val);
    });
    // 
    $(document).on('input', 'input#link-github', function () {
        var val = $(this).val();
        $('a#link-github').attr('href', val);
        var regex = /[-a-zA-Z0-9@@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@@:%_\+.~#?&//=]*)/;
        if (!regex.test(val)) {
            $(this)[0].setCustomValidity("Vui lòng nhập link hợp lệ!");
        }
        else {
            $(this)[0].setCustomValidity("");
        }
    });
    $(document).on('input', 'input#link-linked', function () {
        var val = $(this).val();
        $('a#link-linked').attr('href', val);
        var regex = /[-a-zA-Z0-9@@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@@:%_\+.~#?&//=]*)/;
        if (!regex.test(val)) {
            $(this)[0].setCustomValidity("Vui lòng nhập link hợp lệ!");
        }
        else {
            $(this)[0].setCustomValidity("");
        }
    });
    $(document).on('input', 'input#link-facebook', function () {
        var val = $(this).val();
        $('a#link-facebook').attr('href', val);
        var regex = /[-a-zA-Z0-9@@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@@:%_\+.~#?&//=]*)/;
        if (!regex.test(val)) {
            $(this)[0].setCustomValidity("Vui lòng nhập link hợp lệ!");
        }
        else {
            $(this)[0].setCustomValidity("");
        }
    });
    $(document).on('input', 'input#link-stack', function () {
        var val = $(this).val();
        $('a#link-stack').attr('href', val);
        var regex = /[-a-zA-Z0-9@@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@@:%_\+.~#?&//=]*)/;
        if (!regex.test(val)) {
            $(this)[0].setCustomValidity("Vui lòng nhập link hợp lệ!");
        }
        else {
            $(this)[0].setCustomValidity("");
        }
    });
</script>
<!-- End Featured Product -->
