@{
    ViewData["Title"] = "Hỏi đáp";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ForumAiTiContext _context = new ForumAiTiContext();
    List<DanhMucHoiDap> getListHD()
    {
        return _context.DanhMucHoiDap.ToList();
    }
    string getAvatar(byte[] avataar)
    {
        if (avataar == null) return "/images/noneavatar.jpg";
        string imageBase64Data = Convert.ToBase64String(avataar);
        string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
        return imageDataURL;
    }
    List<NguoiDung> getTop5USER()
    {
        return _context.NguoiDung.OrderByDescending(x => x.VaiTro == "USER").Take(3).ToList();
    }
    List<HoiDap> getLISTnewQA()
    {
        return _context.HoiDap.Take(5).OrderByDescending(x => x.NgayDang).ToList();
    }
    List<CthoiDap> getListDMbyMaHD(int ma)
    {
        return _context.CthoiDap.Where(x => x.MaHoiDap == ma).ToList();
    }
    DanhMucHoiDap getDMbyMA(int ma)
    {
        return _context.DanhMucHoiDap.Where(x => x.MaDanhMuc == ma).FirstOrDefault();
    }
    NguoiDung getUSER(string taikhoan)
    {
        if (taikhoan == null)
        {
            return new NguoiDung();
        }
        return _context.NguoiDung.Where(x => x.TaiKhoan == taikhoan).FirstOrDefault();
    }
    int CountComment(int MaHoiDap)
    {
        var list = _context.BinhLuan.Where(x => x.MaHoiDap == MaHoiDap).ToList();
        int count = 0;
        count = list.Count();
        return count;
    }
    Pager paper = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        paper = ViewBag.Pager;
        pageNo = paper.CurrentPage;
    }
}
@model IEnumerable<HoiDap>;
<!-- Close Header -->
<section class="container-fluid my-2 px-5 bg-submenu p-2">
    <div class="container-fluid bg-forum2">
        <h3 class="text-forum-orange mb-0 p-2">
            <oke class="bg-text-forum p-1">Forum</oke>
            <oke class="text-forum-submenu">AiTi</oke> / Hỏi đáp
        </h3>
    </div>
</section>
<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Tìm kiếm ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<!-- Start Categories of The Month -->
<section class="mx-5 my-2 ">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-8">
            <div class="container-fluid bg-question-light">
                <div class="row p-2">
                    <div class="col-12 col-lg-6 col-md-6">
                        Danh mục hỏi đáp
                        <select style="width: 100%;margin-top: 10%;" aria-placeholder="Đừng quên chọn danh mục nhé!"
                            required class="js-example-basic-multiple" id="listcategory" name="states[]"
                            multiple="multiple">
                            @foreach (var item in @getListHD())
                            {
                                <option value="@item.MaDanhMuc">@item.TenDanhMuc</option>
                            }
                        </select>
                        <script>
                            $(document).ready(function () {
                                $('.js-example-basic-multiple').select2({
                                    maximumSelectionLength: 3,
                                    language: "vi"
                                });
                            });
                            $(document).on('change', '#listcategory', function () {
                            @* alert("da change"+ $(this).val() + $('#single-select-field').val()); *@
                                var arr = $(this).val();
                                var filters = $('#single-select-field :selected').val();
                                var formData = new FormData();
                                formData.append("sapxep",filters);
                                @* for (i = 0; i < arr.length; i++) {
                                    listModelMa.push({ Ma: Number(arr[i]), sapxep: Number(filters), page: 1 });
                                } *@
                                if(arr != null)
                                {
                                    if(arr.length == 1)
                                {
                                    formData.append("Ma1",arr[0]);
                                }
                                if(arr.length == 2)
                                {
                                    formData.append("Ma1",arr[0]);
                                    formData.append("Ma2",arr[1]);
                                }
                                if(arr.length == 3)
                                {
                                    formData.append("Ma1",arr[0]);
                                    formData.append("Ma2",arr[1]);
                                    formData.append("Ma2",arr[2]);

                                }
                                }
                                
                                    $.ajax({
                                        type: 'POST',
                                        processData: false,  // tell jQuery not to process the data
                                        contentType: false,
                                        url: '/replacewithDM',
                                        data: formData,
                                        success: function (result) {
                                            $('div#demoqa').replaceWith(result);
                                        },
                                        error: function (result) {
                                                alert("Đã có lỗi xảy ra!");
                                        }
                                    });
                            });
                            //
                            $(document).on('change', '#single-select-field', function () {
                            @* alert("da change"+ $(this).val() + $('#single-select-field').val()); *@
                                 var arr = $('#listcategory :selected').toArray().map(x => $(x).val());
                                var filters = $(this).val();
                                var formData = new FormData();
                                formData.append("sapxep",filters);
                                @* for (i = 0; i < arr.length; i++) {
                                    listModelMa.push({ Ma: Number(arr[i]), sapxep: Number(filters), page: 1 });
                                } *@
                                if(arr != null)
                                {
                                    if(arr.length == 1)
                                {
                                    formData.append("Ma1",arr[0]);
                                }
                                if(arr.length == 2)
                                {
                                    formData.append("Ma1",arr[0]);
                                    formData.append("Ma2",arr[1]);
                                }
                                if(arr.length == 3)
                                {
                                    formData.append("Ma1",arr[0]);
                                    formData.append("Ma2",arr[1]);
                                    formData.append("Ma2",arr[2]);

                                }
                                }
                                
                                    $.ajax({
                                        type: 'POST',
                                        processData: false,  // tell jQuery not to process the data
                                        contentType: false,
                                        url: '/replacewithDM',
                                        data: formData,
                                        success: function (result) {
                                            $('div#demoqa').replaceWith(result);
                                        },
                                        error: function (result) {
                                                alert("Đã có lỗi xảy ra!");
                                        }
                                    });
                            });
                            $(document).on('click', 'ul#clickTaga li a', function () {
                                event.preventDefault();
                                var page = Number(String(($(this).attr('href')).substring(9,($(this).attr('href').length))));
                                //
                                var arr = $('#listcategory :selected').toArray().map(x => $(x).val());
                                var filters = $('#single-select-field :selected').val();
                                console.log(page +'\n'+arr+ "fil"+filters);
                                var formData = new FormData();
                                formData.append("sapxep",filters);
                                formData.append("sotrang",page);
                                if(arr != null)
                                {
                                    if(arr.length == 1)
                                {
                                    formData.append("Ma1",arr[0]);
                                }
                                if(arr.length == 2)
                                {
                                    formData.append("Ma1",arr[0]);
                                    formData.append("Ma2",arr[1]);
                                }
                                if(arr.length == 3)
                                {
                                    formData.append("Ma1",arr[0]);
                                    formData.append("Ma2",arr[1]);
                                    formData.append("Ma2",arr[2]);

                                }
                                }
                                
                                    $.ajax({
                                        type: 'POST',
                                        processData: false,  // tell jQuery not to process the data
                                        contentType: false,
                                        url: '/replacewithDM',
                                        data: formData,
                                        success: function (result) {
                                            $('div#demoqa').replaceWith(result);
                                        },
                                        error: function (result) {
                                                alert("Đã có lỗi xảy ra!");
                                        }
                                    });
                            });
                        </script>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6">
                        Thời gian đăng bài
                        <select style="border: 3px solid #f4a261;padding: 1%;" class="form-select mt-2"
                            id="single-select-field" name="filters" data-placeholder="Choose one thing">
                            <option value="2" selected style="padding: 6px; font-size: 18px !important;">Mới nhất trước</option>
                            <option value="1" style="padding: 6px; font-size: 18px !important;">Cũ nhất trước</option>
                            @* <option>Tháng này</option>
                            <option>Năm này</option> *@
                        </select>
                    </div>
                </div>
            </div>
            <div class="QA my-2" id="demoqa">
                @foreach (var item in Model)
                {
                    <div class="question row">
                        <div class="question-body col-12">
                            <p hidden id="MaHD">@item.MaHoiDap</p>
                            <a href="/details_qa/@item.MaHoiDap">
                                <h4 class="question-title">@item.TieuDe</h4>
                            </a>
                            <p class="time-posted">Đã đăng ngày @String.Format("{0:dd/MM/yyyy}", item.NgayDang) - <a
                                    href="/personal/@item.NguoiDang"><img id="question-imguser"
                                        src="@getAvatar(getUSER(item.NguoiDang).HinhAnh)" alt="">
                                    @getUSER(item.NguoiDang).HoTen</a></p>
                            <p class="question-list">
                                @foreach (var item1 in @getListDMbyMaHD(item.MaHoiDap))
                                {
                                    <a href="#">@getDMbyMA((int)item1.MaDanhMuc).TenDanhMuc</a>
                                }
                            </p>
                            <p class="question-content">@item.NoiDung
                            </p>
                            <p>
                                <pi class="question-watch"><i class="fa fa-eye" aria-hidden="true"></i> @item.LuotXem Lượt
                                    xem
                                </pi>
                                <pi class="question-comment"><i class="fa fa-comment" aria-hidden="true"></i>
                                    @CountComment(item.MaHoiDap) Bình
                                    luận
                                </pi>
                            </p>
                        </div>
                    </div>
                }
                @if (paper.TotalPages > 0)
                {
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            @if (paper.CurrentPage > 1)
                            {
                                <li class="page-item"><a class="page-link" asp-action="qa" asp-controller="QA"
                                asp-route-page="@(paper.CurrentPage -1)">Trước</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link disabeled">Trước</a></li>
                            }
                            @for (var pagee = paper.StartPage; pagee <= paper.EndPage; pagee++)
                            {
                                <li class="page-item @(pagee == paper.CurrentPage ? "active" : "")">
                                    <a class="page-link" asp-action="qa" asp-controller="QA" asp-route-page="@pagee"> @pagee
                                    </a>
                                </li>
                            }
                            @if (paper.CurrentPage < paper.EndPage)
                            {
                                <li class="page-item"><a class="page-link" asp-action="qa" asp-controller="QA"
                                asp-route-page="@(paper.CurrentPage +1)">Sau</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link disabeled">Sau</a></li>
                            }
                        </ul>
                    </nav>
                }
                <script>
                </script>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 p-0">
            <div class="container-fluid">
                <a href="/ask_question" class="ask-question">
                    <h2 class="py-4 bg-submenu-1 text-center">Đặt câu hỏi</h2>
                </a>
            </div>
            <div class="container-fluid">
                <h2 class="py-4 bg-forum text-light text-center new-question">Câu hỏi mới nhất</h2>
                <div class="question-div">
                    @foreach (var item in @getLISTnewQA())
                    {
                        <div class="question-sub">
                            <a href="/details_qa/@item.MaHoiDap">
                                <h4 class="question-sub-title">@item.TieuDe</h4>
                            </a>
                            <p class="question-sub-time-posted">Đăng ngày @String.Format("{0:dd/MM/yyyy}", item.NgayDang)
                            </p>
                            <a href="/personal/@item.NguoiDang">
                                <p class="question-sub-imguser"><img src="@getAvatar(getUSER(item.NguoiDang).HinhAnh)"
                                        alt=""> @getUSER(item.NguoiDang).HoTen</p>
                            </a>
                        </div>
                    }

                </div>
            </div>
            <div class="container-fluid">
                <h2 class="py-4 bg-forum text-light text-center new-question">Thành viên ưu tú</h2>
                <div class="listTopMember">
                    @foreach (var item in @getTop5USER())
                    {
                        <a href="/personal/@item.TaiKhoan">
                            <div class="row member">
                                <div class="col-4 col-sm-6 member-left">
                                    <img src="@getAvatar(item.HinhAnh)" alt="">
                                </div>
                                <div class="col-8 col-sm-6 member-right">
                                    <h4>@item.HoTen</h4>
                                    @if (item.SinhNhat == null)
                                    {
                                        <p>?? - ?? - ????</p>
                                    }
                                    else
                                    {
                                        <p>@String.Format("{0:dd - MM - yyyy}", item.SinhNhat)</p>
                                    }
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>