@{
    ForumAiTiContext _context = new ForumAiTiContext();
    List<DanhMucHoiDap> getListHD()
    {
        return _context.DanhMucHoiDap.ToList();
    }
    string getAvatar(byte[] avataar)
    {
        if (avataar == null) return "/images/noneavatar.jpg";
        string imageBase64Data = Convert.ToBase64String(avataar);
        string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
        return imageDataURL;
    }
    List<CthoiDap> getlistDMByMA(int ma)
    {
        return _context.CthoiDap.Where(x => x.MaHoiDap == ma).ToList();
    }
    DanhMucHoiDap getDMbyMA(int ma)
    {
        return _context.DanhMucHoiDap.Where(x => x.MaDanhMuc == ma).FirstOrDefault();
    }
    NguoiDung getUSER(string taikhoan)
    {
        if (taikhoan == null)
        {
            return new NguoiDung();
        }
        return _context.NguoiDung.Where(x => x.TaiKhoan == taikhoan).FirstOrDefault();
    }
    int CountComment(int MaHoiDap)
    {
        var list = _context.BinhLuan.Where(x => x.MaHoiDap == MaHoiDap).ToList();
        int count = 0;
        count = list.Count();
        return count;
    }
    Pager paper = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        paper = ViewBag.Pager;
        pageNo = paper.CurrentPage;
    }
}
@model IEnumerable<ForumAiTi.Models.HoiDap>
<div class="QA my-2" id="demoqa">
    @if(Model.Count() == 0)
    {
        <div class="row bg-forum p-5">
        <h2 class="text-center">Không có bài đăng nào phù hợp.</h2>
        </div>
    }
    else{
        @foreach (var item in Model)
    {
        <div class="question row">
            <div class="question-body col-12">
                <p hidden id="MaHD">@item.MaHoiDap</p>
                <a href="/details_qa/@item.MaHoiDap">
                    <h4 class="question-title">@item.TieuDe</h4>
                </a>
                <p class="time-posted">Đã đăng ngày @String.Format("{0:dd/MM/yyyy}", item.NgayDang) - <a
                        href="/personal/@item.NguoiDang"><img id="question-imguser"
                            src="@getAvatar(getUSER(item.NguoiDang).HinhAnh)" alt=""> @getUSER(item.NguoiDang).HoTen</a></p>
                <p class="question-list">
                    @foreach (var item1 in @getlistDMByMA(item.MaHoiDap))
                    {
                        <a href="#">@getDMbyMA((int)item1.MaDanhMuc).TenDanhMuc</a>
                    }
                </p>
                <p class="question-content">@item.NoiDung
                </p>
                <p>
                    <pi class="question-watch"><i class="fa fa-eye" aria-hidden="true"></i> @item.LuotXem Lượt
                        xem
                    </pi>
                    <pi class="question-comment"><i class="fa fa-comment" aria-hidden="true"></i>
                        @CountComment(item.MaHoiDap) Bình
                        luận
                    </pi>
                </p>
            </div>
        </div>
    }
    @if (paper.TotalPages > 0)
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination" id="clickTaga">
                @if (paper.CurrentPage > 1)
                {
                    <li class="page-item"><a class="page-link" asp-action="qa" asp-controller="QA"
                    asp-route-page="@(paper.CurrentPage -1)">Trước</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link disabeled">Trước</a></li>
                }
                @for (var pagee = paper.StartPage; pagee <= paper.EndPage; pagee++)
                {
                    <li class="page-item @(pagee == paper.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-action="qa" asp-controller="QA" asp-route-page="@pagee"> @pagee </a>
                    </li>
                }
                @if (paper.CurrentPage < paper.EndPage)
                {
                    <li class="page-item"><a class="page-link" asp-action="qa" asp-controller="QA"
                    asp-route-page="@(paper.CurrentPage +1)">Sau</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link disabeled">Sau</a></li>
                }
            </ul>
        </nav>
    }
    }
</div>