@{
    ViewData["Title"] = "Tìm kiếm";
	Layout = "~/Views/Shared/_Layout.cshtml";
    ForumAiTiContext _context = new ForumAiTiContext();
    string getAvatar(byte[] avataar)
    {
        if (avataar == null) return "/images/noneavatar.jpg";
        string imageBase64Data = Convert.ToBase64String(avataar);
        string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
        return imageDataURL;
    }
    List<CthoiDap> getlistDMByMA(int ma)
    {
        return _context.CthoiDap.Where(x => x.MaHoiDap == ma).Take(5).ToList();
    }
    DanhMucHoiDap getDMbyMA(int ma)
    {
        return _context.DanhMucHoiDap.Where(x => x.MaDanhMuc == ma).FirstOrDefault();
    }
    NguoiDung getUSER(string taikhoan)
    {
        if (taikhoan == null)
        {
            return new NguoiDung();
        }
        return _context.NguoiDung.Where(x => x.TaiKhoan == taikhoan).FirstOrDefault();
    }
    int CountComment(int MaHoiDap)
    {
        var list = _context.BinhLuan.Where(x => x.MaHoiDap == MaHoiDap).ToList();
        int count = 0;
        count = list.Count();
        return count;
    }
    //
    string getIMG(byte[] avataar)
    {
        if (avataar == null) return "/images/noneavatar.jpg";
        string imageBase64Data = Convert.ToBase64String(avataar);
        string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
        return imageDataURL;
    }
    List<CttinTuc> getlistCDByMA(int ma)
    {
        return _context.CttinTuc.Where(x => x.MaTinTuc == ma).Take(5).ToList();
    }
    ChuDe getCDbyMA(int ma)
    {
        return _context.ChuDe.Where(x => x.MaChuDe == ma).FirstOrDefault();
    }
    Pager paper = new Pager();
    int pageNo = 0;
    if(ViewBag.Pager != null)
    {
        paper = ViewBag.Pager;
        pageNo = paper.CurrentPage;
    }
    Pager paper1 = new Pager();
    int pageNo1 = 0;
    if(ViewBag.Pager1 != null)
    {
        paper1 = ViewBag.Pager1;
        pageNo1 = paper1.CurrentPage;
    }
    Pager paper2 = new Pager();
    int pageNo2 = 0;
    if(ViewBag.Pager2 != null)
    {
        paper2 = ViewBag.Pager2;
        pageNo2 = paper2.CurrentPage;
    }
}
    <!-- Close Header -->
    <section class="container-fluid my-2 px-5 bg-submenu p-2">
        <div class="container-fluid bg-forum2">
            <h3 class="text-forum-orange mb-0 p-2">
                <oke class="bg-text-forum p-1">Forum</oke>
                <oke class="text-forum-submenu">AiTi</oke> / Tìm kiếm
            </h3>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Tìm kiếm ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Start Categories of The Month -->
    <section class="mx-5 my-2 ">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 p-0">
                <div class="container-fluid">
                    <h2 class="py-4 bg-forum text-center new-question">Hỏi đáp</h2>
                    <div class="QA my-2">
                        @if (((IEnumerable<HoiDap>)ViewBag.ListHD).Count() > 0)
                        {
                         @foreach (var item in ViewBag.ListHD)
                {
                    <div class="question row">
                        <div class="question-body col-12">
                            <p hidden id="MaHD">@item.MaHoiDap</p>
                            <a href="/details_qa/@item.MaHoiDap">
                                <h4 class="question-title">@item.TieuDe</h4>
                            </a>
                            <p class="time-posted">Đã đăng ngày @String.Format("{0:dd/MM/yyyy}", item.NgayDang) - <a
                                    href="#"><img id="question-imguser" src="@getAvatar(getUSER(item.NguoiDang).HinhAnh)"
                                        alt=""> @getUSER(item.NguoiDang).HoTen</a></p>
                            <p class="question-list">
                                @foreach (var item1 in @getlistDMByMA(item.MaHoiDap))
                                {
                                    <a href="#">@getDMbyMA((int)item1.MaDanhMuc).TenDanhMuc</a>
                                }
                            </p>
                            <p class="question-content">@item.NoiDung
                            </p>
                            <p>
                                <pi class="question-watch"><i class="fa fa-eye" aria-hidden="true"></i> @item.LuotXem Lượt
                                    xem
                                </pi>
                                <pi class="question-comment"><i class="fa fa-comment" aria-hidden="true"></i>
                                    @CountComment(item.MaHoiDap) Bình
                                    luận
                                </pi>
                            </p>
                        </div>
                    </div>
                }   
                @if(paper.TotalPages > 0)
                {
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if(paper.CurrentPage > 1)
                        {
                        <li class="page-item"><a class="page-link" asp-action="search" asp-controller="Search" asp-route-search="@ViewBag.Keyword" asp-route-page="@(paper.CurrentPage -1)">Trước</a></li>
                        }else
                        {
                        <li class="page-item"><a class="page-link disabeled">Trước</a></li>
                        }
                        @for (var pagee = paper.StartPage;pagee <= paper.EndPage;pagee++)
                        {
                            <li class="page-item @(pagee == paper.CurrentPage ? "active" : "")">
                                <a class="page-link" asp-action="search" asp-controller="Search" asp-route-search="@ViewBag.Keyword" asp-route-page="@pagee" > @pagee </a>
                            </li>
                        }
                        @if(paper.CurrentPage < paper.EndPage)
                        {
                        <li class="page-item"><a class="page-link" asp-action="search" asp-controller="Search" asp-route-search="@ViewBag.Keyword" asp-route-page="@(paper.CurrentPage +1)">Sau</a></li>
                        }else
                        {
                        <li class="page-item"><a class="page-link disabeled">Sau</a></li>
                        }
                    </ul>
                </nav>
                }
                        }else{
                            <div class="question row p-5">
                                <h1 class="text-center">Không tìm thấy kết quả phù hợp</h1>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 p-0">
                <div class="container-fluid">
                    <h2 class="py-4 bg-forum text-center new-question">Tin tức</h2>
                    <div class="div-news my-2 mt-3">
                        @if(((IEnumerable<TinTuc>)ViewBag.ListTT).Count() > 0)
                        {
                            @foreach (var item in ViewBag.ListTT)
                {
                    <div class="news row">
                        <div class="news-left p-0 col-12 col-lg-4 col-md-4">
                            <img class="m-0" src="@getIMG(item.HinhAnh)" alt="">
                        </div>
                        <div class="news-right col-12 col-lg-8 col-md-8">
                            <a href="/details_news/@item.MaTinTuc">
                                <h4 class="news-title">@item.TieuDe</h4>
                            </a>
                            <p class="news-time-post">Đăng ngày  @String.Format("{0:dd/MM/yyyy}", item.NgayDang)</p>
                            <p class="news-list">
                                @if(getlistCDByMA(item.MaTinTuc).Count() != 0)
                                {
                                    @foreach (var item1 in getlistCDByMA(item.MaTinTuc))
                                {
                                    <a href="#">@getCDbyMA((int)item1.MaChuDe).TenChuDe</a>
                                }
                                }
                            </p>
                            <p class="news-content">@item.NoiDung
                            </p>
                        </div>
                    </div>
                }
                @if(paper1.TotalPages > 0)
                {
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if(paper1.CurrentPage > 1)
                        {
                        <li class="page-item"><a class="page-link" asp-action="search" asp-route-search="@ViewBag.Keyword"  asp-controller="Search" asp-route-page1="@(paper1.CurrentPage -1)">Trước</a></li>
                        }else
                        {
                        <li class="page-item"><a class="page-link disabeled">Trước</a></li>
                        }
                        @for (var pagee = paper1.StartPage;pagee <= paper1.EndPage;pagee++)
                        {
                            <li class="page-item @(pagee == paper1.CurrentPage ? "active" : "")">
                                <a class="page-link" asp-action="search" asp-route-search="@ViewBag.Keyword" asp-controller="Search" asp-route-page1="@pagee" > @pagee </a>
                            </li>
                        }
                        @if(paper1.CurrentPage < paper1.EndPage)
                        {
                        <li class="page-item"><a class="page-link" asp-action="search" asp-route-search="@ViewBag.Keyword" asp-controller="Search" asp-route-page1="@(paper1.CurrentPage +1)">Sau</a></li>
                        }else
                        {
                        <li class="page-item"><a class="page-link disabeled">Sau</a></li>
                        }
                    </ul>
                </nav>
                }
                @* <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Trước</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Sau</a></li>
                            </ul>
                        </nav> *@
                        }else
                        {
                            <div class="news row p-5">
                                <h1 class="text-center">Không tìm thấy kết quả phù hợp</h1>
                            </div>
                        }
                    </div>
                </div>
                <!-- -->
                <h2 class="py-4 bg-forum text-light text-center new-question">Thành viên Forum</h2>
                <div class="listTopMember">
                    @if (((IEnumerable<NguoiDung>)ViewBag.ListUSER).Count() > 0)
                        {
                            @foreach (var item in ViewBag.ListUSER)
                    {
                        <a href="/personal/@item.TaiKhoan">
                            <div class="row member">
                                <div class="col-4 col-sm-6 member-left">
                                    <img src="@getAvatar(item.HinhAnh)" alt="">
                                </div>
                                <div class="col-8 col-sm-6 member-right">
                                    <h4>@item.HoTen</h4>
                                    @if (item.SinhNhat == null)
                                    {
                                        <p>?? - ?? - ????</p>
                                    }
                                    else
                                    {
                                        <p>@String.Format("{0:dd - MM - yyyy}", item.SinhNhat)</p>
                                    }
                                </div>
                            </div>
                        </a>
                    }
                    @if(paper2.TotalPages > 0)
                {
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if(paper2.CurrentPage > 1)
                        {
                        <li class="page-item"><a class="page-link" asp-action="search" asp-controller="Search" asp-route-search="@ViewBag.Keyword" asp-route-page2="@(paper2.CurrentPage -1)">Trước</a></li>
                        }else
                        {
                        <li class="page-item"><a class="page-link disabeled">Trước</a></li>
                        }
                        @for (var pagee = paper2.StartPage;pagee <= paper2.EndPage;pagee++)
                        {
                            <li class="page-item @(pagee == paper2.CurrentPage ? "active" : "")">
                                <a class="page-link" asp-action="search" asp-controller="Search" asp-route-search="@ViewBag.Keyword" asp-route-page2="@pagee" > @pagee </a>
                            </li>
                        }
                        @if(paper2.CurrentPage < paper2.EndPage)
                        {
                        <li class="page-item"><a class="page-link" asp-action="search" asp-controller="Search" asp-route-search="@ViewBag.Keyword" asp-route-page2="@(paper2.CurrentPage +1)">Sau</a></li>
                        }else
                        {
                        <li class="page-item"><a class="page-link disabeled">Sau</a></li>
                        }
                    </ul>
                </nav>
                }
                        }
                        else{
                            <div class="news row p-5">
                                <h1 class="text-center">Không tìm thấy kết quả phù hợp</h1>
                            </div>
                        }
                </div>
            </div>
        </div>
    </section>
    