@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ForumAiTiContext _context = new ForumAiTiContext();
    List<NguoiDung> getTop3()
    {
        return _context.NguoiDung.Where(x => x.VaiTro == "USER").Take(3).ToList();
    }
    string getName(string taikhoan){
        string tk = "";
        if(taikhoan == null)
        {
            taikhoan = User.FindFirst("TaiKhoan").Value.Trim();
        }
        var user = _context.NguoiDung.FirstOrDefault(x => x.TaiKhoan == taikhoan);
        if(user.Nickname != null)
        {
            tk = user.Nickname;
        }else if(user.HoTen != null)
        {
            tk = user.HoTen;
        }else if(user.TaiKhoan != null)
        {
            tk = user.TaiKhoan;
        }
        return tk;
    } 
    string getAvatar(byte[] avataar)
    {
        if (avataar == null) return "/images/noneavatar.jpg";
        string imageBase64Data = Convert.ToBase64String(avataar);
        string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
        return imageDataURL;
    }
    List<HoiDap> getTop3QA()
    {
        return _context.HoiDap.OrderByDescending(x => x.MaHoiDap).Take(3).ToList();
    }
    List<TinTuc> getTop3News()
    {
        return _context.TinTuc.OrderByDescending(x => x.MaTinTuc).Take(3).ToList();
    }
}
<!-- Close Header -->
<section class="container-fluid my-2 px-5 bg-submenu p-2">
    <div class="container-fluid bg-forum2">
        <h3 class="text-forum-orange mb-0 p-2">
            <oke class="bg-text-forum p-1">Forum</oke>
            <oke class="text-forum-submenu">AiTi</oke> / Trang chủ
        </h3>
    </div>
</section>


<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="./assets/img/img2.webp" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Forum</b> AiTi</h1>
                            <h3 class="h2">Nơi mọi người cùng nhau giải đáp những thắc mắc và chia sẻ những kiến thức bổ
                                ích đến với mọi người</h3>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="./assets/img/img2.webp" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Forum</b> AiTi</h1>
                            <h3 class="h2">Nơi mọi người cùng nhau giải đáp những thắc mắc và chia sẻ những kiến thức bổ
                                ích đến với mọi người</h3>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="./assets/img/img2.webp" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Forum</b> AiTi</h1>
                            <h3 class="h2">Nơi mọi người cùng nhau giải đáp những thắc mắc và chia sẻ những kiến thức bổ
                                ích đến với mọi người</h3>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
        role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
        role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Thành viên nổi bật</h1>
            <p>
                Những thành viên có thành tích nổi bật trong tháng sẽ được xưng danh ở đây
            </p>
        </div>
    </div>
    <div class="row">
        @foreach (var item in @getTop3())
        {
            <div id="divUser" class="col-12 col-md-4 p-5 mt-3 pr-2">
                <a href="#"><img src="@getAvatar(item.HinhAnh)" class="img-div-user"></a>
                <h5 class="text-center mt-3 mb-3">@getName(item.TaiKhoan)</h5>
                <p class="text-center"><a href="/personal/@item.TaiKhoan" class="btn btn-success">Theo dõi ngay</a></p>
            </div>
        }

        @* <div id="divUser" class="col-12 col-md-4 p-5 mt-3 pr-2">
        <a href="#"><img src="./assets/img/user.jfif" class="rounded-circle img-fluid border"></a>
        <h2 class="h5 text-center mt-3 mb-3">Boy AiTi</h2>
        <p class="text-center"><a href="#" class="btn btn-success">Theo dõi ngay</a></p>
        </div>
        <div id="divUser" class="col-12 col-md-4 p-5 mt-3 pr-2">
        <a href="#"><img src="./assets/img/user.jfif" class="rounded-circle img-fluid border"></a>
        <h2 class="h5 text-center mt-3 mb-3">Súp pờ cua</h2>
        <p class="text-center"><a href="#" class="btn btn-success">Theo dõi ngay</a></p>
        </div> *@
    </div>
</section>
<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Câu hỏi hay nhất</h1>
                <p>
                    Hãy cố gắng bạn sẽ được vinh danh ở đây.
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in @getTop3QA())
            {
                <div class="col-12 col-md-4 mb-4">
                    <div id="divTop3" class="card h-100">
                        <div class="card-body">
                            <a class="h2 text-decoration-none text-forum">@item.TieuDe</a>
                            <p class="card-text mt-3">
                                @item.NoiDung
                            </p>
                            <p class="text-muted"><a href="/details_qa/@item.MaHoiDap">Xem tiếp >></a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
</section>
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Tin tức mới nhất</h1>
                <p>
                    Tin tức luôn được forum cập nhật mới nhất và chính xác nhất mỗi ngày.
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in @getTop3News())
            {
                <div class="col-12 col-md-4 mb-4">
                    <div id="divTop3" class="card h-100 w-100">
                        <div class="card-header">
                            <a class="h2 text-decoration-none text-forum">@item.TieuDe</a>
                        </div>
                        <div class="card-body" id="news-img">
                                <img src="@getAvatar(item.HinhAnh)" alt="">
                                <p class="card-text p-content mt-3">@item.NoiDung
                                </p>
                                <p class="text-muted seemore"><a href="/details_news/@item.MaTinTuc">Xem tiếp >></a></p>
                        </div>
                    </div>
                </div>
            }
            @* <div class="col-12 col-md-4 mb-4">
            <div id="divTop3" class="card h-100">
            <div class="card-body">
            <a href="" class="h2 text-decoration-none text-forum">Thành công ở đại học
            hay thất bại ở trường đời?</a>
            <p class="card-text mt-3">
            Thực ra, một cuộc sống tốt đẹp và thành công không chỉ phụ thuộc vào thành tích học ở
            trường của bạn. Tôi không khuyến khích bất kỳ ai bỏ học. Tất cả những môn học như toán
            học, văn học, âm nhạc, thể dục ... đều hữu ích đối với chúng ta. Nhưng chương trình đào
            tạo của các trường học không hoàn hảo, thậm chí nó tạo cho học sinh một số thói quen
            xấu.

            Ví dụ như, nhiều người luôn ở trạng thái chờ đợi để được chọn, chỉ làm điều gì đó khi có
            sự cho phép, thay vì chủ động sáng tạo và bắt đầu thực hiện mơ ước riêng.

            Về cơ bản, để thành công ở trường học, bạn phải vâng lời, thành tích của bạn phụ thuộc
            rất nhiều vào giáo viên. Tuy nhiên, học sinh, sinh viên còn quá nhiều thứ cần phải học
            bên ngoài nhà trường.

            Để thành công trong cuộc sống, bạn phải làm khác đám đông. Lẽ ra, bên cạnh kiến thức cơ
            bản, học sinh, sinh viên nên được học cách để trở thành một người hạnh phúc, cách duy
            trì một mối quan hệ lành mạnh, phương pháp làm việc thông minh để năng suất và hiệu quả
            hơn...
            </p>
            <p class="text-muted"><a href="#">Xem tiếp >></a></p>
            </div>
            </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
            <div id="divTop3" class="card h-100">
            <div class="card-body">
            <a href="" class="h2 text-decoration-none text-forum">Thành công ở đại học
            hay thất bại ở trường đời?</a>
            <p class="card-text mt-3">
            Thực ra, một cuộc sống tốt đẹp và thành công không chỉ phụ thuộc vào thành tích học ở
            trường của bạn. Tôi không khuyến khích bất kỳ ai bỏ học. Tất cả những môn học như toán
            học, văn học, âm nhạc, thể dục ... đều hữu ích đối với chúng ta. Nhưng chương trình đào
            tạo của các trường học không hoàn hảo, thậm chí nó tạo cho học sinh một số thói quen
            xấu.

            Ví dụ như, nhiều người luôn ở trạng thái chờ đợi để được chọn, chỉ làm điều gì đó khi có
            sự cho phép, thay vì chủ động sáng tạo và bắt đầu thực hiện mơ ước riêng.

            Về cơ bản, để thành công ở trường học, bạn phải vâng lời, thành tích của bạn phụ thuộc
            rất nhiều vào giáo viên. Tuy nhiên, học sinh, sinh viên còn quá nhiều thứ cần phải học
            bên ngoài nhà trường.

            Để thành công trong cuộc sống, bạn phải làm khác đám đông. Lẽ ra, bên cạnh kiến thức cơ
            bản, học sinh, sinh viên nên được học cách để trở thành một người hạnh phúc, cách duy
            trì một mối quan hệ lành mạnh, phương pháp làm việc thông minh để năng suất và hiệu quả
            hơn...
            </p>
            <p class="text-muted"><a href="#">Xem tiếp >></a></p>
            </div>
            </div>
            </div> *@
        </div>
    </div>
</section>
<!-- End Featured Product -->